@media (max-width: 1109px) {
    .figcaption-button{
        font-size: 0.9rem;
    }
}

@media (max-width: 1000px) {
    .figcaption-button{
        font-size: 0.7rem;
    }
}

@media (max-width: 816px) {
    html{
        font-size: 4px;
    }

    .product-article {
        width: calc(50% - 30px);
        flex: 0 0 auto;
        margin: 15px;
        border-radius: 10px 10px 0 0;
    }

    main #title {
        font-size: 10rem;
    }

    .article-figure figcaption {@media (max-width: 816px) {
    html{
        font-size: 4px;
    }

    .product-article {
        width: calc(50% - 30px);
        flex: 0 0 auto;
        margin: 15px;
        border-radius: 10px 10px 0 0;
    }

    main #title {
        font-size: 10rem;
    }

    .article-figure figcaption {
        margin: 17px 0;
    }

    .figcaption-button {
        font-size: 3.2rem;
    }

    .fas {
        font-size: 3.8rem;
    }

    .figcaption-description {
        font-size: 2.5rem;
    }

    .figcaption-price {
        font-size: 4rem;
    }

    .figcaption-name {
        font-size: 3.2rem;
    }
}

@media (max-width: 619px) {
    html{
        font-size: 3px;
    } 
    .article-figure figcaption {
        margin: 21px 0;
        padding-left: 1rem;
    }

    .product-article {
        width: 80%;
        flex: 0 0 auto;
        margin: 15px auto;
        border-radius: 10px 10px 0 0;
    }
}

@media (max-width: 470px) {
    html{
        font-size: 2px;
    } 
    .article-figure figcaption {
        margin: 23px 0;
        padding-left: 1rem;
    }
}

        margin: 17px 0;
    }

    .figcaption-button {
        font-size: 3.2rem;
    }

    .fas {
        font-size: 3.8rem;
    }

    .figcaption-description {
        font-size: 2.5rem;
    }

    .figcaption-price {
        font-size: 4rem;
    }

    .figcaption-name {
        font-size: 3.2rem;
    }
}

@media (max-width: 619px) {
    html{
        font-size: 3px;
    } 
    .article-figure figcaption {
        margin: 21px 0;
        padding-left: 1rem;
    }

    .product-article {
        width: 80%;
        flex: 0 0 auto;
        margin: 15px auto;
        border-radius: 10px 10px 0 0;
    }
}

@media (max-width: 470px) {
    html{
        font-size: 2px;
    } 
    .article-figure figcaption {
        margin: 23px 0;
        padding-left: 1rem;
    }
}
