/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Añade aquí tus estilos para pantallas grandes */
  html {
    font-size: 9px;
  }
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Añade aquí tus estilos para pantallas pequeñas y tablets */
  html {
    font-size: 8px;
  }

  .wrapper {
    grid-template-columns: 2.5fr 1fr;
  }
  #product-list {
    display: grid;
    grid-template-columns: auto auto;
  }
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* Añade aquí tus estilos para tablets y phablets */

  .wrapper {
    display: grid;
    gap: 15px;
    grid-template-columns: none;
    grid-template-areas:
      "main"
      "aside"
      "footer";
  }

  main {
    /* padding: 2rem; */
    grid-area: main;
    margin: 0;
    text-align: center;
    padding-bottom: 0px;
  }

  #product-list {
    display: grid;
    grid-template-columns: auto auto;
  }
  aside {
    grid-area: aside;
    padding: 5rem 0;
  }

  #carrito {
    border-radius: 20px;
    margin: auto;
    text-align: center;
    background: white;
    padding-top: 0px;
    position: relative;
    width: 80%;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  footer {
    grid-area: footer;
  }
}

/* Teléfonos */
@media only screen and (max-width: 575px) {
  /* Añade aquí tus estilos para teléfonos */

  .wrapper {
    display: grid;
    gap: 15px;
    grid-template-columns: none;
    grid-template-areas:
      "main"
      "aside"
      "footer";
  }

  main {
    /* padding: 2rem; */
    grid-area: main;
    margin: 0;
    text-align: center;
    padding-bottom: 0px;
  }

  #product-list {
    display: grid;
    grid-template-columns: auto;
  }
  aside {
    grid-area: aside;
    padding: 5rem 0;
  }

  #carrito {
    border-radius: 20px;
    margin: auto;
    text-align: center;
    background: white;
    padding-top: 0px;
    position: relative;
    width: 80%;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  footer {
    grid-area: footer;
  }
}
