@font-face {
  font-family: "redHat";
  src: url(../assets/fonts/RedHatText-VariableFont_wght.ttf) format(woff2);
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "redHat";
  background-color: #fcf8f5;
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

main {
  padding: 5rem;
  grid-column: 1 / 2;
}

main #title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  color: #2a120e;
  padding-left: 15px;
}

#product-list {
  display: grid;
  grid-template-columns: auto auto auto;
}

/* .cart-border{
  border: 2px solid #c83b0e !important;
  border-radius: 10px;
} */
.product-article {
  margin: 15px;
  border-radius: 10px 10px 0 0;
}

.article-figure {
  width: 100%;
}

.figure-img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 300ms linear;
}

.figure-figcaption {
  margin: 10px 0;
  padding-left: 1rem;
}

.figcaption-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 60%;
  margin: -30px auto 0;
  text-align: center;
  border: 1px solid #8c8b8b;
  border-radius: 90px;
  background-color: white;
  z-index: 1;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3rem;
  transition: all 300ms linear;
}

.figcaption-button:hover {
  background: #c83b0e;
  color: white;
}

.figcaption-name {
  color: #a0a0a0;
  font-size: 1.5rem;
}

.figcaption-description {
  font-size: 2rem;
  font-weight: 700;
}

.figcaption-price {
  font-size: 1.5rem;
  font-weight: 400;
}

.fa-shopping-cart {
  margin-right: 1rem;
  font-size: 2rem;
}

aside {
  /* background-color: #f0f0f0; */
  padding: 5rem;
  padding-left: 0;
  height: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  grid-column: 2 / 3;
}

#carrito {
  background: white;
  padding: 3rem;
  position: fixed;
  width: 23%;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#carrito h2 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 900;
  color: #c83b0e;
}

.carrito-vacio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

#carrito img {
  height: 12rem;
  width: 13rem;
  object-fit: cover;
}

#carrito p {
  color: #888888;
}

.detailsDiv {
  display: flex;
  flex-direction: column;
}

.sectionCarrito {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dfdddd;
}

.infoDiv {
  display: flex;
  gap: 10px;
}

.sectionCarrito p {
  color: black !important;
  font-weight: 700;
}

.sectionCancelar {
  cursor: pointer;
}

.sectionCancelar button {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.spanCantidad {
  color: #c83b0e;
  font-weight: 600;
}

.spanPrecios {
  color: #a0a0a0;
}

.spanPrecioTotal {
  font-weight: 600;
}

.totalContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#carrito .totalText {
  color: black;
}

#carrito .totalPrice {
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.contentMessage {
  background: #fcf8f5;
  margin-top: 1.5rem;
  padding: 1.2rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  color: black;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerBotom,
.btnNewOrder {
  background-color: #c83b0e;
  padding: 1.2rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
  cursor: pointer;
  color: white;
  font-weight: 600;
  transition: 300ms ease-in-out all;
  border-color: transparent;
}

.containerBotom:hover,
.btnNewOrder:hover {
  background-color: #79260a;
}

.modalSection {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  padding: 3rem 4rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 3s ease;
}

.modalShow {
  opacity: 1;
}

.modalMessage {
  margin-top: 2rem;
}

.modalContainer {
  background-color: white;
  border-radius: 20px;
  padding: 3rem;
  opacity: 0;
  transform: translateY(-90px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.showModal {
  opacity: 1;
  transform: translateY(0);
}

.messageTitle {
  font-size: 4rem;
}

.messageParrafo {
  color: #a0a0a0;
  font-size: 1.5rem;
}

.divProducts {
  margin-top: 2rem;
  padding: 2rem;
  background: #fcf8f5c2;
  border-radius: 1rem;
  height: 50vh;
}

.modalSection .sectionDetails {
  width: 100%;
}

.modalSection .sectionCarrito {
  border: none;
}

.modalSection .infoDiv {
  justify-content: space-between;
  align-items: center;
}

.modalSection .spanPrecioTotal {
  font-size: 1.5rem;
  font-weight: bold;
}

.divProducts .totalPrice {
  font-size: 2.2em;
  font-weight: bold;
}

.producto-container {
  display: flex; /* Alinea los elementos uno al lado del otro */
  align-items: center; /* Centra verticalmente la imagen y el contenido */
  margin-bottom: 15px; /* Espacio entre productos */
  border-bottom: 1px solid #dfdddd;
  padding-bottom: 1rem;
}

.producto-imagen {
  max-height: 6rem;
  margin-right: 15px; /* Espacio entre la imagen y el producto */
  border-radius: 8px; /* Bordes redondeados para darle estilo */
}

.sectionCarrito {
  flex-grow: 1; /* Hace que el contenido del producto ocupe el espacio restante */
}

.sectionDetails {
  display: flex;
  flex-direction: column; /* Alinea el nombre del producto y los detalles en columna */
}
footer {
  width: 100%;
  background: #333; /* Nuevo color de fondo */
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  font-size: 1.4rem;
  position: relative;
}

footer a {
  color: #ffdd57;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

footer .attribution {
  margin-top: 1rem;
  font-size: 1.2rem;
}
